### Ignore all files by default ###
*
!.gitignore
!README.md

### Include the contents listed below ###

# .bashrc
!.bashrc


# .local
!.local
!.local/scripts

# .config
!.config
!.config/tmux
!.config/tmux/**
!.config/nvim
!.config/nvim/**

# .dconf (Ubuntu 22.04 settings - load via 'dconf load / < ~/.config/dconf/settings-backup')
!.config/dconf
!.config/dconf/**

# fonts
!.fonts
!.fonts/**

